---
import { getCollection } from "astro:content";
import PostCard from "../components/PostCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = await getCollection("blog");

const sortedPosts = posts
  .filter((p) => p.data)
  .sort((a, b) => {
    const da = pDate(a);
    const db = pDate(b);
    return db - da;
  });

function pDate(post) {
  return post.data.pubDate
    ? new Date(post.data.pubDate).getTime()
    : 0;
}
---

<BaseLayout sidebar="home">
  <section class="home-post-list">
    {sortedPosts.map((post) => (
      <PostCard post={post} />
    ))}
  </section>
</BaseLayout>

<style>
.home-post-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
</style>
