---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');

posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Retro Gaming Verse">
  <main class="container">
    <div class="post-list">
      {posts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>
  </main>
</BaseLayout>

<style>
.container {
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
</style>
