---
import Layout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog", ({ data }) => {
  return data.category === "retro-games";
});
---

<Layout title="Retro Games">
  <section class="container">
    <h1>Retro Games</h1>

    <p>
      This category is a space where I revisit older games and write down what
      it actually feels like to play them again today.
    </p>

    <div class="post-list">
      {posts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>
  </section>
</Layout>
